name: Couchbasev4 extension tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  run:
    environment: github-ci
    runs-on: ${{ matrix.operating-system }}
    timeout-minutes: 60
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['8.0', '8.1', '8.2', '8.3']
        ext-versions: ['couchbase', 'couchbase-4.1.6', 'couchbase-4.2.0']
    name: PHP ${{ matrix.php-versions }} using ${{ matrix.ext-versions }} quality/tests on ${{ matrix.operating-system }}
    env:
      extensions: pcntl, posix
      key: cache-v1
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Couchbase Server
        run: ./tests/Scripts/install_couchbase.sh

      - name: Setup cache environment
        id: extcache
        uses: shivammathur/cache-extensions@v1
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: ${{ env.extensions }}
          key: ${{ env.key }}

      - name: Cache extensions
        uses: actions/cache@v3
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ steps.extcache.outputs.key }}
          restore-keys: ${{ steps.extcache.outputs.key }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: ${{ env.extensions }} ${{ matrix.ext-versions }}

      - name: Validate composer.json and composer.lock
        run: composer validate --strict

      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v3
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Run quality tools
        run: composer run-script quality

      - name: Run tests
        run: composer run-script tests
